<!DOCTYPE html>

<html>

    <head>

       <metacharset="utf-8"/>

       <title></title>

<style>

ul{

    list-style-type:none;

    margin:0;

    padding:0;

    overflow:hidden;

    height:100px;

    background-color:orange;

}

 

li{

    float:left;

}

 

lia{

    display:block;

    color:white;

    text-align:center;

    padding:45px110px;

    text-decoration:none;

}

 

lia:hover{

    background-color:mistyrose;

</style>

    </head>

    <body>

<p ul>

  <li><a href="http://127.0.0.1:8000/bar-y-sentiment/">细粒度情感分析所有属性对比</a></li>

</p>

<p ul>

  <li><a href="http://127.0.0.1:8000/pie-sentiment/">细粒度情感分析结果统计分析</a></li>

</p>

</ul>

    </body>

</html>